//Стилизация формы регистрации
.auth {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    background: url('../img/bgc_top_element.svg') no-repeat,
                url(../img/bgcelementLeft.svg) no-repeat,
                url(../img/bgc_right_element.svg) no-repeat,
                url(../img/bg-cover2.jpg) no-repeat (center/cover);
    background-position: -3% 30%,103% 11%,76% 103%,center;
    background-size: 10%, 10%, 8%, 100%; 
    &__wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 100%;
    }
    &__form {
        display: flex;
        flex-wrap: wrap;
        margin-top: 55px;
        width: 630px;
    }
    &__icon {
        position: absolute;
        left: 16px;
        top: 16px;
    }
    &__policy {
        display: flex;
        width: 300px;
        margin-top: 30px;
        height: 56px;
        align-items: center;
        margin-left: 30px;
        position: relative;
        input {
            width: 10px;
            height: 10px;
        }
    }
}

input {
    font-size: 16px;
    padding: 10px;
    display: block;
    width: 300px;
    border: none;
    border-bottom: 1px solid #ccc;
    &:focus {
        outline: none;
        border: 1px solid $main-color;
        transition: 0.3s;
    }
}

label {
    color: #E0E0E0;
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 23px;
    position: absolute;
    pointer-events: none;
    left: 50px;
    top: 15px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

input {
    &:focus ~ label,
    &:valid ~ label {
        top: 12px;
        left: 50px;
        font-size: 11px;
        line-height: 13px;
        font-weight: 300;
        color: $main-color;
        transition: .3s;
    }
}

  