@media (max-width: 556px) {
  .container {
      max-width: 330px;
  }
  .auth__block {
    &:nth-child(n) {
      margin-left: 0;
    }
  }
  .auth__block {
    margin-left: 0;
  }
  .auth__form {
    display: flex;
    width: 300px;
    margin-top: 5px;
    flex-wrap: wrap;
  }
  .auth {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    background: url(../img/bg-cover2.jpg) no-repeat 50%;
  }
  .register {
    background: repeat,url(../img/bg-cover.jpg) no-repeat center/cover;
  }
  .register__head {
    font-weight: 500;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    span {
      font-weight: 500;
      font-size: 30px;
      line-height: 30px;
      color: #6ceec7;
    }
  }
  .button {
    width: 330px;
    height: 48px;
  }
}