// Стили кнопок

.button {
    width: 214px;
    height: 56px;
    margin-top: 40px;
    border: 2px solid $main-color;
    border-radius: 5px;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    text-align: center;
    background: transparent;
    a {
        text-decoration: none;
        color: $main-color;
    }
    &:hover {
        background-color: $main-color;
        transition: 0.3s all;
        a {
            color: #000;
        }
    }    
}
