// //Стилизация чекбокса
// input[type=checkbox] { 
//     display: none;
// }
// .checkbox__policy {  
//     &::before {
//         content: "\00A0";
//         display: inline-block;
//         box-sizing: border-box;
//         width: 20px;
//         height: 20px;
//         background-color: white;
//         border-radius: 2px;
//         margin-right: 6px;
//         vertical-align: baseline;
//         text-align: center;
//         font-family: Arial, sans-serif;
//         font-size: 16px;
//         line-height: 16px;
//         font-weight: bold;
//         color: #808080;
//         cursor: pointer;
//     }
//     &:checked::before {
//         border-color: #0b76ef;
//         background-color: #0b76ef;
//     }  
// }
.checkbox {
    cursor: pointer;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #dedede;
    border-radius: 4px;
    &:checked::after {
        opacity: 1;
    }
    &:checked::before {
        opacity: 1;
    }
    &::after {
        content: '';
        width: 20px;
        height: 20px;       
        display: block;
        background-color: $main-color;
        opacity: 0;
        border-radius: 4px;
        position: absolute;
        top: 18px;
        left: 0;
    }
    &::before {
        content: '';
        border-left: 1px solid #000;
        border-bottom: 1px solid #000;
        width: 11px;
        height: 5px;
        position: absolute;
        left: 4px;
        top: 25px;
        opacity: 0;
        transform: rotate(313deg);
        z-index: 2;
    }
}
