//Тут лежит анимация при клике на инпут
.auth {
    &__input {
        width: 300px;
        height: 56px;
        background: rgba(0, 0, 0, 0.2);
        border: 1px solid $white-color;
        box-sizing: border-box;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        font-weight: 300;
        font-size: 19px;
        color: $secondary-color;
        padding: 10px 0 7px 50px;
        background-position: 5%;
        outline: 0;
        outline-offset: 0;
        box-shadow: none;
        position: relative;
        caret-color: #fff;
        &:focus,
        &:valid {
            outline: none;
            padding: 20px 0 7px 50px;
        }
    }
    &__select {
        width: 300px;
        height: 56px;
        background: rgba(0, 0, 0, 0.2);
        border: 1px solid $white-color;
        box-sizing: border-box;
        box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
        border-radius: 5px;
        font-weight: 300;
        font-size: 19px;
        color: $secondary-color;
        padding: 7px 0 7px 50px;
        background-position: 5%;
        outline: 0;
        outline-offset: 0;
        box-shadow: none;
        position: relative;
    }
    &__block {
        margin-top: 30px;
        margin-left: 30px;
        position: relative;
        &:nth-child(odd) {
            margin-left: 0;
        }
    }
}


//Стилизация сообщения при неверном вводе инпута
.msg {
    @include style-error;
    position: absolute;
    top: 62px;
    left: 95px;
    display: none;
    &__secname {
        @include style-error;
        position: absolute;
        top: 62px;
        left: 95px;
        display: none;
    }
    &__country {
        @include style-error;
        position: absolute;
        top: 62px;
        left: 233px;
        display: none;
    }
    &__phone {
        @include style-error;
        position: absolute;
        top: 62px;
        left: 233px;
        display: none;
    }
    &__password {
        @include style-error;
        position: absolute;
        top: 62px;
        left: 35px;
        display: none
    }
    &__confirm-pasw {
        @include style-error;
        position: absolute;
        top: 62px;
        left: 175px;
        display: none;
    }
    &__email {
        @include style-error;
        position: absolute;
        top: 62px;
        left: 205px;
        display: none;
    }
}
    

//Стилизация блока с выбором страны
select {
    appearance: none;
    option {
        font-weight: 300;
        font-size: 15px;
        line-height: 18px;
        background-color: $white-color;
        color: #5E5E5E;
    }
}

.select__icon {
    position: absolute;
    top: 17px;
    left: 16px;
}

.country__position {
    position: absolute;
    left: 0;
    top: 100px;
}

.country__arrow {
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    position: absolute;
    top: 50%;
    right: 30px;
    width: 10px;
    height: 10px;
    transform: rotate(45deg) translateY(-50%);
    transform-origin: right;
    &:focus {
        transform: rotate(225deg);
    }
  }


